# Environment configuration
.env

# Dependencies
/node_modules

# Build output
/dist

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace

# Optional: Database volume for Docker
# Comment this line if you're persisting DB data in a local volume
/db-data
