.library-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 100vh;

  .profile-frame-container {
    position: relative;
    width: 200px; // Set the width of the frame
    height: 200px; // Set the height of the frame
    margin: 0 auto; // Center the frame
    display: flex; // Use flex to center the image vertically
    align-items: center; // Align items vertically
    justify-content: center; // Align items horizontally

    .profile-frame {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .profile-picture {
      width: 150px; // Adjust the width to fit inside the frame
      height: 150px; // Adjust the height to fit inside the frame
      border-radius: 50%; // Make the picture round
      object-fit: cover; // Ensure the image covers the area without stretching
      position: absolute;
    }
  }
  .sidebar {
    background: url("/assets/shelf.png") no-repeat center center;
    background-size: cover;

    &.left {
      // Additional styles for left sidebar
    }

    &.right {
      // Additional styles for right sidebar
    }

    .sidebar-img {
      width: 100%;
      height: auto;
      opacity: 0.8; // Make the image slightly transparent if needed
    }

    .library-header {
      text-align: center;
      margin-bottom: 20px; /* Adjust as needed */
  }
  
  .library-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px; /* Adjust as needed */
  }
  }

  .book-display {
    padding: 20px;
    background-color: #f4f1ea; // Antique paper-like background color

    .search-input {
      width: 800px;

      padding: 5px 10px;
      font-size: 1rem;
      border: 1px solid #8a7f70; // Border color to match the theme
      border-radius: 5px; // Slightly rounded corners for the input
      width: 100%;
    }

    
    .library-title {
      font-family: 'Times New Roman', serif; // or another font that fits the antique theme
      text-align: center;
      font-size: 2.5rem; // Adjust the size as needed
      color: #5a4a32; // A color that matches the antique theme
      margin-bottom: 20px; // Space above the title and the add button
  }

  

    .add-book-btn {
      background: url("/assets/button.png") no-repeat center center;
      background-size: contain; // This will ensure the image fits within the button
      border: none;
      width: 335px; // Adjust width as needed to fit the image
      height: 40px; // Adjust height as needed to fit the image
      padding: 10px 50px;
      cursor: pointer;
      // Removes default button styling
      appearance: none;
      -webkit-appearance: none;
      border-radius: 0; // Optional: remove if you want rounded corners

      // Ensures text is vertically and horizontally centered
      display: flex;
      align-items: center;
      justify-content: center;

      // Additional button styling
      color: #ffffff; // Change as needed
      font-size: 1rem; // Change as needed
      text-align: center;
      text-decoration: none; // In case it's an anchor styled as a button
      font-weight: bold;

      // Hover effect
      &:hover {
        // You can add a slight darkening effect on hover for instance
        filter: brightness(0.9);
      }
    }

    .books-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      margin-top: 20px;

      .book-card {
        border: 1px solid #8a7f70; // Old-style frame color
        padding: 10px;
        background-color: #fdfaf6; // Light background for book card

        .book-cover {
          width: 100%;
          height: auto;
          border: 4px solid #8a7f70; // Old-style frame color
        }

        .book-title {
          font-family: "Times New Roman", serif; // Classic font
          font-size: 1.2rem;
          margin-top: 10px;
        }

        .author-name {
          font-size: 1rem;
          color: #705e49; // Darker font color for contrast
        }

        .book-note {
          font-size: 0.9rem;
          color: #705e49;
          height: 3em; // Fixed height for two lines of text, adjust as needed
          overflow: hidden; // Hide overflowed text
          text-overflow: ellipsis; // Show ellipsis (...) at the end if text is cut off
          display: -webkit-box;
          -webkit-line-clamp: 2; // Number of lines to show
          -webkit-box-orient: vertical;
        
        }
      }
    }

  }
  @media (max-width: 768px) {
    grid-template-columns: 100%; // Full width for smaller devices
    .sidebar {
      display: none; // Hide sidebars on smaller devices
    }

    .book-display {
      .library-header-and-button {
        flex-direction: column; // Stack items vertically on smaller screens
      }

      .profile-frame-container {
        margin-bottom: 20px; // Add some space below the profile frame on mobile
      }

      .library-title {
        font-size: 1.8rem; // Adjust font size for smaller screens
        margin-bottom: 10px; // Add space below the title
      }

      .add-book-btn {
        // Adjust button size for smaller screens if necessary
      }
    }
}
}